<%= form_tag(redir_tsurls_path) do |f| %>
  <div class="field">
    <%= label_tag :short %><br />
    <%= text_field_tag :short %>
  </div>
  <div class="actions">
    <%= submit_tag 'Recognize' %>
  </div>
<% end %>
